:root {
    --light: #fff;
    --dimmed: #f2f2f2;
    --grey: #adaeb5;
    --primary-color: #48bb78;
    --secondary-color: #e6f6e9;
    --tertiary-color: #eff3f6;

    --font-color: #32324d;

    --type-hero-size: 48px;
    --type-hero-weight: 500;

    --type-title-size: 42px;
    --type-title-weight: 600;

    --type-sub-size: 26px;
    --type-sub-weight: 600;

    --type-content-size: 16px;
    --type-content-weight: 400;

    --menu-bg: radial-gradient(50% 50% at 50% 50%, rgba(204, 139, 139, 0.48) 0%, rgba(163, 59, 59, 0) 100%);
    --menu-filter: blur(20px);

    --sidenav-width: 175px;
}
