@import "variables";
@import url("https://fonts.cdnfonts.com/css/dm-sans");
@import url("https://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.cdnfonts.com/css/sf-intoxicated-blues-2");

html,
body {
    padding: 0;
    margin: 0;
    color: var(--font-color);

    font-family: "DM Sans" !important;
}

.inter-font {
    font-family: "Inter" !important;
}
